/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0; /* Gray background */
  padding: 16px;
}

.header .search {
  flex: 1;
}

.header .upload {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header button {
  background-color: #90ee90; /* Light green background */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header button:hover {
  background-color: #77dd77; /* Darker green on hover */
}

.header input {
  padding: 0.8rem; /* Add padding of 1rem */
  border: 1px solid green; /* Add a green border */
  border-radius: 4px; /* Optional: Add rounded corners */
  width: 40%;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin-right: 4px;
}

.header input:focus {
  border-color: darkgreen; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

.header input:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove default outline */
}
